.idea/
.terraform/
*.tfstate.lock.info
*.tfstate.backup
*.backup
lo.tar.gz

# Created by https://www.gitignore.io/api/terraform

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.*

# Module directory
.terraform/

# .tfvars files
*.tfvars


# End of https://www.gitignore.io/api/terraform
